*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 30px;
  padding: 30px;
}

p {
  font-size: 50px;
}

button {
  padding: 5px 10px 5px 10px;
  min-width: 120px;
  font: inherit;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
}

button:disabled {
  background-color: #a7adba;
  cursor: not-allowed;
}

.start-button {
  background-color: #28d10a;
}

.stop-button {
  background-color: #ff0000;
}
